.container{
    position: relative;
    width: 100%;
    height: 100%;
}

.left{
    float: left;
    margin-left: 0;
    width: 200px;
    height: 100%;
    background-color: #363239;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left_item{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.left_item label{
    margin-left: 25px;
    color: white;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

.left_item span{
    margin-right: 30px;
    margin-top: 7px;
    width: 17px;
    height: 17px;
    cursor: pointer;
}

.right{
    float: left;
    width: calc(100% - 200px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right_top{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.right_top_left{
    width: 228px;
    height: 100%;
    border-right: 2px solid #3AFAF8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right_top_left_item{
    margin-left: 70px;
    width: 130px;
    height: 40px;
    border-radius: 7px;
    border: 1px solid #3AFAF8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.right_top_left_item label{
    text-align: center;
    color: #3AFAF8;
    font-size: 17px;
    line-height: 37px;
    font-weight: bolder;
}

.right_top_left_item span{
    margin-top: 4px;
    width: 30px;
    height: 30px;
    background-color: #3AFAF8;
}

.right_top_right{
    width: calc(100% - 230px);
    height: 100%;
    border-right: 2px solid ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.right_top_right_item{
    margin-top: 12px;
    margin-left: 40px;
    width: 300px;
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right_top_right_item_label{
    width: 120px;
    height: 100%;
    color: #EDEDED;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
}

.right_top_right_item_span{
    width: 170px;
    height: 100%;
    color: #212121;
    font-size: 15px;
    text-align: center;
    background-color: #FFFFFF;
}


.right_center, .right_bottom{
    width: 100%;
    height: calc((100% - 200px) / 2);
}